Authtype Basic
AuthName "Outlet DB API authentication"
AuthUserFile api/.htpasswd
Require valid-user

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /api/index.php?path=$1 [NC,L,QSA]
