<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin: "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
Header add Access-Control-Allow-Headers: "Content-Type"
</IfModule>

Authtype Basic
AuthName "Outlet DB API authentication"
AuthUserFile /app/api/.htpasswd
Require valid-user

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /api/index.php?path=$1 [NC,L,QSA]
